body{
    margin-left: 10%;
    margin-right: 10%;
}

header{
    background-color: #E579E6;
    height: 70px;
    margin: 15px auto;
}

nav{
    background-color: #E1D67A;
    height: 300px;
}

main{
    margin: 15px auto;
    background-color: #0087FC;
    padding-bottom: 2%;
}

.clear-fix::after{
    display: table;
    content: "";
    clear: both;
}

.container-header{
    background-color: #ABCFE7;
    height: 100px;
    margin-bottom: 2%;
}

.container-main-left{
    background-color: #ABCFE7;
    width: 23%;
    height: 500px;
    float:left;
    display: inline;
}

.container-main-center{
    margin-left: 2%;
    margin-right: 2%;
    background-color: #ABCFE7;
    width: 50%;
    height: 500px;
    display: inline-block;
    
}

.container-main-right{
    background-color: #ABCFE7;
    width: 23%;
    height: 500px;
    float:right;
    display: inline;
}

footer{
    background-color: #8801FD;
    height: 50px;
    margin: 15px auto;
}


